.cuadro {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  background-color: white;
  color: white;
  &.default { color: black; }
  &.aprobadas{ background-color: #00d200; }
  &.inscriptas{ background-color:#3158e6; }
  &.posibles{ background-color:#efef4a; }
  &.reprobada { background-color: red !important; }
}


.brd-top {
  border-top: 1px solid black;
}
.brd-bottom {
  border-bottom: 1px solid black;
}
.brd-right {
  border-right: 1px solid black;
}

.table-bordered td {
  border-color: black;
  border-width: 2px;
  padding: 5px;
}

.item-subject {
  margin: 5px;
  width: 170px;
  height: 170px;
  background-color: white;
  border: 1px solid black;
  [class*="col"] {
    font-size: 0.75rem;
  }
  text-align: center;
  strong.item-nommate {
    font-weight: bold;
    font-size: 0.85rem;
    word-wrap: break-word;
  }
}

.table-responsive {
  margin-top: 30px;
  margin-bottom: 40px;
  padding-bottom: 30px;
}

th.table-head-th {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  border: 2px solid black !important;
}
