.ant-card-head {
  padding-top: 5px;
  padding-bottom: 5px;
  .ant-card-head-wrapper {
    .ant-card-head-title,
    .ant-card-extra {
      padding: 0px;
      font-size: 1.5rem;
      font-weight: 800;
    }
  }
}

.ant-page-header-heading-sub-title {
  margin-left: 10px;
}

.ant-card-body {
  .link {
    display: block;
    font-size: 1.4rem;
    margin-bottom: 10px;
    height: 100px;
    overflow: hidden;
    line-height: 1.2;
    font-family: "Lato";
    text-overflow: ellipsis;
  }
  .date_span {
    display: block;
    font-size: 1rem;
    padding: 5px 0px;
    font-weight: 800;
    text-align: right;
  }
}
