.nav_bar__li {
  display: block;
  width: 100%;
  padding: 0 20px;
  position: relative;
}

.sidebar-link {
  border-radius: 10px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: block;
}
