.login__image_cover {
  display: block;
  background-size: cover;
  background-position: center center;
  // background-image: url("../../assets/images/login/portada.jpg");
}

// .login__image_backgroun_bg {
//  background-image: url("../../assets/images/login/login_bg.jpg");
// }

// Para que muestre los texto en español
.show-hide span:before {
  content: "Ocultar" !important;
}

.show-hide span.show:before {
  content: "Mostrar" !important;
}

.login-card .form-group:last-child{
  margin-top: 25px !important;
}